@model IEnumerable<ReaLocate.Web.ViewModels.DetailsRealEstateViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Latest Properties</h2>

@foreach (var item in Model)
{
    @Html.Partial("_RealEstateTilePartialView",item)
}

