@model IEnumerable<ReaLocate.Web.ViewModels.DetailsRealEstateViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Latest Properties</h2>

    <ul class="properties-filter" >
        <li class=""><a href="#" data-filter="*"><span>All</span></a></li>
        <li class=""><a href="#" data-filter=".property-ForReantAndForSale"><span>Featured</span></a></li>
        <li class="selected"><a href="#" data-filter=".property-ForRent"><span>Rent</span></a></li>
        <li><a href="#" data-filter=".property-ForSale"><span>Sale</span></a></li>
    </ul>
    <div class="properties-items isotope">
        @foreach (var item in Model)
        {
            @Html.Partial("_RealEstateTilePartialView", item)
        }
    </div>
@section Map{

    <div id="map_canvas" style="height: 500px;"></div>
}

@section SideBar{
    <div class="map-navigation-wrapper">
    <div class="map-navigation">
        <form method="post" action="?" class="clearfix">
            <div class="form-group col-sm-12">
                <label>Country</label>
                <div class="select-wrapper">
                    <input id="select-country" class="form-control" />
                </div><!-- /.select-wrapper -->
            </div><!-- /.form-group -->
            <div class="form-group col-sm-12">
                <label>Location</label>
                <div class="select-wrapper">
                    <input id="select-location" class="form-control" />
                </div><!-- /.select-wrapper -->
            </div><!-- /.form-group -->
            <div class="form-group col-sm-12">
                <input type="submit" class="btn btn-primary btn-inversed btn-block" value="Filter Properties">
            </div><!-- /.form-group -->
        </form>
    </div>
</div>
    }

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>

    <script>
        $(window).load(function () {
            /***********************************************************
            * ISOTOPE
            ***********************************************************/
            var isotope_works = $('.properties-items');
            isotope_works.isotope({
                'itemSelector': '.property-item'
            });

            $('.properties-filter a').click(function () {
                $(this).parent().parent().find('li').removeClass('selected');
                $(this).parent().addClass('selected');

                var selector = $(this).attr('data-filter');
                isotope_works.isotope({ filter: selector });
                return false;
            });
        });
    </script>
<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
<section class="scripts">
    <script type="text/javascript">

            $(document).ready(function () {
                Initialize();
            });

            function Initialize() {
                google.maps.visualRefresh = true;
                var mapOptions = {
                    zoom: 3,
                    center: { lat: 42.6932, lng: 23.3354 },
                    mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
                };

                var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
                var myLatlng = new google.maps.LatLng(53.40091, -2.994464);

                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: 'Tate Gallery'
                });

                marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png')

                var data = @Html.Raw(Json.Encode(Model)) //add raw data for database
                console.log(data);
                $.each(data, function (i, item) {
                    console.log(item.Latitude)
                    var marker = new google.maps.Marker({
                        'position': new google.maps.LatLng(item.Latitude, item.Longitude),
                        'map': map,
                        'title': item.Address
                    });

                    marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')

                    var redirectToDetails = "/RealEstates/RealEstateDetails/" + item.EncodedId;
                    var infowindow = new google.maps.InfoWindow({
                        content: "<div class='infoDiv'><h2>" + item.Address + "</h2>" + "<div><h4><a href=" + redirectToDetails + ">Details</a></h4></div></div>"
                    });

                    google.maps.event.addListener(marker, 'click', function () {
                        infowindow.open(map, marker);
                    });
                })
            }
    </script>
</section>
}
